<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipselabs.recommenders.codesearchquery.indexer.contribution1">
         <action
               label="Index"
               class="org.eclipselabs.recommenders.codesearchquery.indexer.popup.actions.IndexAction"
	       		menubarPath="additions"
               enablesFor="+"
               id="org.eclipselabs.recommenders.codesearchquery.indexer.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipselabs.recommenders.codesearchquery.indexer.contribution2">
         <action
               label="Search"
               class="org.eclipselabs.recommenders.codesearchquery.indexer.popup.actions.SearchAction"
	       		menubarPath="additions"
               enablesFor="+"
               id="org.eclipselabs.recommenders.codesearchquery.indexer.searchAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
