<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="org.eclipse.ui.viewActions">
	      
	      <viewContribution
	            id="org.eclipselabs.recommenders.codesearchquery.rcp.view.actions.indexAction"
	            targetID="org.eclipselabs.recommenders.codesearchquery.rcp.searchQueryView">
	            
	            <action
                   class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.views.actions.IndexAction"
                   icon="icons/obj16/index.gif"
                   id="org.eclipselabs.recommenders.codesearchquery.rcp.IndexAction"
                   label="Index Workspace"
                   menubarPath="additions">
	            </action>            
	      </viewContribution>
	      
	      <viewContribution
	            id="org.eclipselabs.recommenders.codesearchquery.rcp.view.actions.deleteIndexAction"
	            targetID="org.eclipselabs.recommenders.codesearchquery.rcp.searchQueryView">
	            
	            <action
                   class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.views.actions.DeleteIndexAction"
                   icon="icons/obj16/truncate.png"
                   id="org.eclipselabs.recommenders.codesearchquery.rcp.TruncateAction"
                   label="Truncate Index"
                   menubarPath="additions">
	            </action>            
	      </viewContribution>
	</extension>
	<extension
	      point="org.eclipse.ui.views">
	      <view
             category="org.eclipse.recommenders.rcp.category.views"
             class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.views.SearchQueryView"
             icon="icons/obj16/search.png"
             id="org.eclipselabs.recommenders.codesearchquery.rcp.searchQueryView"
             name="Code Search Query-View"/>
	</extension>
 <extension
       point="org.eclipse.recommenders.injection.modules">
    <module
          class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.CSQModule">
    </module>
 </extension>

</plugin>
