<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipselabs.recommenders.codesearchquery.rcp.popup.actions.contribution1">
         <action
               label="CodeSearch - Index"
               class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.popup.actions.IndexAction"
	       		menubarPath="additions"
               enablesFor="+"
               id="org.eclipselabs.recommenders.codesearchquery.rcp.popup.actions.indexAction">
         </action>
      </objectContribution>
      
            <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipselabs.recommenders.codesearchquery.rcp.popup.actions.contribution2">
         <action
               label="CodeSearch - Delete Index"
               class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.popup.actions.DeleteIndexAction"
	       		menubarPath="additions"
               enablesFor="+"
               id="org.eclipselabs.recommenders.codesearchquery.rcp.popup.actions.deleteIndexAction">
         </action>
      </objectContribution>
   </extension>

	<extension
	      point="org.eclipse.ui.views">
	      <view
             category="org.eclipse.recommenders.rcp.category.views"
             class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.views.SearchQueryView"
             id="org.eclipselabs.recommenders.codesearchquery.rcp.searchQueryView"
             name="Code Search Query-View"/>
	</extension>
 <extension
       point="org.eclipse.recommenders.injection.modules">
    <module
          class="org.eclipselabs.recommenders.internal.codesearchquery.rcp.CSQModule">
    </module>
 </extension>

</plugin>
